@import "generated/colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.screen-title {
  @apply text-foreground text-4xl font-sans-bold;
}

.screen-subtitle {
  @apply text-neutral-400 text-lg font-sans-regular leading-tight;
}

.section-title {
  @apply text-foreground text-lg font-bold font-sans-regular;
}
